html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, ul, li, a, i {
    list-style: none;
    text-decoration: none !important;
    color: #009ad6;

}

ul {
    padding-inline-start: 0px !important;
}

header {
    background-color: whitesmoke;
    width: 100%;
    padding-bottom: 10px;
}

.bond-title {
    position: relative;
}

.bond {
    position: absolute;
    animation: bounce 0.35s ease infinite alternate;
}

.ballon {
    padding-left: 35px;
}

.ombre {
    background-color: rgba(14, 14, 16, 0.11);
    width: 33px;
    height: 7px;
    border-radius: 100%;
    display: block;
    position: absolute;
    right: 0;
    animation: bounceT 0.35s ease infinite alternate;
}

.ballon-inner {
    position: relative;
}

.ombre-other {
    width: 33px;
    height: 7px;
    display: block;
    position: absolute;
    right: 1px;

}

@keyframes bounceT {
    from {
        transform: scale(.2);
    }
    to {
        transform: scale(1.2);

    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);

    }
}

.inline-nav-img {
    position: relative;
}

.big-nav {
    max-width: 1600px;
    margin: auto;
}

header i {
    font-size: 30px;
    padding: 5px;

}

.cart-plus i {


    font-size: 38px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}

i {
    text-decoration: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;

}

.dropdown {

    margin-top: 20px;
    margin-right: 30px;
}

.title {

    text-align: center;
    margin-top: 15px;
}

.top-title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

/**.big-nav img {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: auto;

}**/

.big-nav ul {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.big-nav li {
    display: inline;
    padding: 15px;

}

.list-header li {
    text-align: center;
    display: inline-flex;
    padding: 5px;
    font-size: 20px;
}

.list-header li :hover {

    text-decoration: none !important;
}

.list-header {
    display: flex;
    justify-content: center;
}

form.form-inline {
    left: 0;
    position: absolute;
    display: flex;
    padding: 10px;

}

.carousel, .card-deck {
    padding-bottom: 20px !important;
}

.card-deck {
    max-width: 1400px !important;
    margin: auto !important;
    display: flex !important;

}

footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;

}

.social i {

    font-size: 35px;
}

.get-delete, .get-error {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0000000f;
    display: none;
    opacity: 0;
}

.get-delete-inner, .get-error-inner {
    max-width: 500px;
    margin: auto;
    background: white;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.conf {
    padding: 10px;
    background: #dbdbdb;
    text-align: center;
}

.active-overlay {
    display: flex;
}

.conf {
    padding: 10px;
}

.get-delete-inner h3, .get-error h3 {
    color: white;
    background: #009ad6;
    padding: 10px;
}

.content-delete, .content-error {
    padding: 10px;
    color: black;
}

.overlay-popup:after {
    content: '\f00d';
    color: white;
    font-family: 'Font Awesome 5 Pro';
}

.overlay-popup {
    float: right;
}

.overlay-popup:hover {
    text-decoration: none;
}

